@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h1>@Configuration["greeting"] </h1>
<h2>@Configuration["greeting"]  SOPHIA!! GO TO BED</h2>

<b> At: @DateTime.Now it is your bed time!</b>


